@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --font-heder: 'TupoVyazWebBold', sans-serif;
    --font-accent: 'TupoVyazWebRegular', sans-serif;
    --main-color: #000000;
    --color-accent: #FF9B00;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    line-height: 1;
}

img, 
a {
    display: block;
}

body {
    position: relative;
    max-width: 1000px;
}

a img {
    cursor: pointer;
}

h1, 
h2, 
.logo, 
.categories-menu p {
    font-family: var(--font-heder);
}

header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    gap: 31px;
    width: 100%;
    padding: 13px 34px;
}

nav {
    display: flex;
    gap: 15px;
    padding-top: 2px;
    font-weight: 745;
}

.current-section {
    margin-bottom: 8px;
    border-bottom: #80D8FE 4px solid;
}

.logo {
    font-size: 40px;
    letter-spacing: 1.6px;
}

.store-icons {
    margin-left: auto;
    display: flex;
    gap: 15px;
    padding-top: 3px;
}

.store-icons a {
    position: relative;
    display: block;
}

.circle {
    position: absolute;
    top: 0;
    right: -8px;
    height: 18px;
    width: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1px;
    border-radius: 100%;
    background-color: var(--main-color);
    color: #ffffff;
    font-size: 11px;
    font-weight: 500;
}

.hero {
    position: relative;
    min-height: 1085px;
    padding: 79px 26px 10px 26px;
    background-image: url('./img/bg-girl.jpg');
    background-repeat: no-repeat;
    background-size: contain;
}

section > img {
    position: absolute;
    bottom: 0;
    left: 0;
    pointer-events: none;
}

h1 {
    font-size: 410px;
    margin-top: -19.5px;
    margin-bottom: -66px;
}

h2 {
    font-size: 200px;
    margin-top: -14px;
    margin-bottom: -23px;
}

.badge {
    margin-left: 8px;
    display: inline-block;
    padding: 1.5px 4px 3.5px 4px;
    text-align: center;
    background-color: #80D8FE;
    font-size: 20px;
    font-weight: 600;
}

.lead-txt {
    margin-right: 8px;
    margin-left: auto;
    max-width: 240px;
    text-align: right;
    font-size: 20px;
    line-height: 24px;
}

.primary-btn {
    margin-top: 13px;
    margin-left: auto;
    margin-right: 8px;
    display: block;
    padding: 10px 19px 10px 19px;
    border: none;
    border-radius: 6px;
    background-color: var(--main-color);
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.primary-btn:hover {
    background-color: var(--color-accent);
}

a {
    color: var(--main-color);
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    color: var(--color-accent);
}

.categories-menu {
    display: flex;
    justify-content: center;
    gap: 32px;
    padding: 24px 4px 40px 4px;
}

.categories-menu a {
    display: flex;
    align-items: center;
    gap: 8px;
}

.categories-menu > a > p {
    font-size: 50px;
    margin-bottom: -8px;
}

.category-section {
    display: flex;
    padding: 40px 34px 40px 34px;
    gap: 20px;
}

.four-item-column {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.two-item-row {
    display: flex;
    gap: 20px;
}

.two-item-column {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.two-item-column h2 {
    margin-left: -1px;
}

.item-fact-row {
    display: flex;
    align-items: center;
    gap: 20px;
}

.item {
    position: relative;
}

.first-item {
    margin-bottom: 7px;
}

.small-like {
    position: absolute;
    top: 0;
    right: 0;
    padding: 8px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.big-like {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.first-item-like {
    transition: transform 0.2s ease-in-out;
}

.big-like:hover, .small-like:hover, .first-item-like:hover {
    transform: scale(1.2);
}

.first-item-price {
    position: absolute;
    bottom: 19px;
    left: 42.5%;
    display: flex;
    gap: 5px;
}

.first-item-price a {
    text-decoration: underline;
    text-decoration-thickness: .5px;
    text-underline-offset: 4px;
    font-family: 'Barlow';
    font-size: 16px;
    font-weight: 600;
}

.first-item-price button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.item a:hover {
    color: initial;
}

.item p {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    text-decoration: underline;
    text-decoration-thickness: .5px;
    text-underline-offset: 4px;
    font-family: 'Barlow';
    font-size: 16px;
    font-weight: 600;
}

.fact {
    margin-top: -24px;
}

.fact-title {
    margin-bottom: 5px;
    font-family: var(--font-accent);
    font-size: 50px;
    text-align: center;
}

.fact-text {
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    line-height: 22px;
}

footer {
    height: 137px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 40px 34px 20px 34px;
}

.footer-links {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 6px 20px;
    padding: 2px 0px 0px 0px;
    list-style: none;
}

.footer-links a {
    min-width: 116px;
}

.phone {
    text-align: right;
}

.contacts {
    margin-top: 9px;
    margin-bottom: -3px;
    display: flex;
    gap: 8px;
}

.icon {
    color: var(--main-color);
}

.icon:hover {
    color: var(--color-accent);
}